app = "krispc"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "python manage.py migrate"

[env]
  PORT = "8080"
  PYTHONUNBUFFERED = "1"
  FLY_APP = "true"

[processes]
  web = "daphne _main.asgi:application --port 8080 --bind 0.0.0.0 -v2"
  worker = "python manage.py runworker channel_layer -v2"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  processes = ["web"]
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    handlers = ["http"]
    port = 80
    # This line forces the redirect
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/health"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
  processes = ["web"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
  processes = ["worker"]
