[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=6.0"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg = "*"
requests = "*"
psycopg2 = "*"
django-redis = "*"
asgiref = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
psycopg2-binary = "*"
psycopg-c = "*"
psycopg-binary = "*"
coloredlogs = "*"
django-crispy-forms = "*"
semver = "*"
crispy-bootstrap5 = "*"
django-htmx = "*"
sendgrid = "*"
django-environ = "*"
django-vite = "*"

[dev-packages]

[requires]
python_version = "3.13"
