body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/* Start. Popup animation */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.popup-class {
    animation: fadeOut 3s forwards;
    animation-delay: 2s; /* Add a delay of 2 seconds before the animation starts */
}

/* End. Popup animation */

.mapboxgl-ctrl-top-left .control-1 {
    margin-bottom: 30px;
}

.mapboxgl-ctrl-top-left .control-2 {
    margin-bottom: 60px;
}

.mapboxgl-popup-content {
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(227 227 227);
}

.mapboxgl-ctrl-logo {
    display: none !important;
}


.mapboxgl-ctrl-center-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.compass-image_black {
    width: 50px; /* Set the width of the compass */
    height: 50px; /* Set the height of the compass */
    background-image: url('../img/north-arrow-2235-black.svg'); /* Path to your compass image */
    background-size: cover; /* Cover the div area with the image */
    background-position: center; /* Center the background image */
}

.compass-image_white {
    width: 50px; /* Set the width of the compass */
    height: 50px; /* Set the height of the compass */
    background-image: url('../img/north-arrow-2235-white.svg'); /* Path to your compass image */
    background-size: cover; /* Cover the div area with the image */
    background-position: center; /* Center the background image */
}

.compass-image_green {
    width: 50px; /* Set the width of the compass */
    height: 50px; /* Set the height of the compass */
    background-image: url('../img/north-arrow-2235-green.svg'); /* Path to your compass image */
    background-size: cover; /* Cover the div area with the image */
    background-position: center; /* Center the background image */
}


.home-marker {
    background-image: url('../img/bear-face1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.private-marker {
    background-image: url('../img/red_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.work-marker {
    background-image: url('../img/green_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.longpress-marker, .longtouch-marker {
    background-image: url('../img/blue_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

select option {
    font-size: 2vw;
}

.wakeup {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: wakeup 1s infinite;
}

@keyframes wakeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Always show scrollbar */
#contacts_textbox::-webkit-scrollbar {
    width: 50px;
}

#contacts_textbox::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 5px; /* Roundness of the scroll thumb */
}

#contacts_textbox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

/** Start. Geocoder styling ******************************************/

/*.mapboxgl-ctrl-geocoder {*/
/*    !*position: absolute;*!*/
/*    !*width: 30vw;*!*/
/*    !*top: 35px;*!*/
/*    !*transform: translateX(-1%);*!*/
/*}*/

/*.mapboxgl-ctrl-geocoder svg {*/
/*    !*display: none;*!*/
/*}*/


/*.mapboxgl-ctrl-geocoder input[type="text"] {*/
/*    !*background-color: rgba(255, 255, 255, 0.9);*!*/
/*}*/

/*.mapboxgl-ctrl-geocoder .suggestions {*/
/*    background-color: rgba(255, 255, 255, 0.6);*/
/*}*/


/*.mapboxgl-ctrl-geocoder--pin-right {*/
/*    display: none;*/
/*}*/

/*.geocoder-slide {*/
/*    transition: transform 0.3s ease;*/
/*    transform: translateX(-100%); !* Start off-screen *!*/
/*}*/

/*.geocoder-slide.expanded {*/
/*    transform: translateX(0); !* Slide in *!*/
/*}*/

/*.mapboxgl-ctrl-geocoder {*/
/*    max-width: 400px; !* Adjust based on your preference *!*/
/*}*/

/*.mapboxgl-ctrl-geocoder--input:focus {*/
/*    width: 250px; !* Adjust based on your preference *!*/
/*}*/

/*.mapboxgl-ctrl-top-right .mapboxgl-ctrl {*/
/*    margin: 12px 12px 0 0 !important;*/
/*}*/

/*.mapboxgl-ctrl-icon {*/
/*    background-size: 18px 18px !important;*/
/*    background-position: 6px 6px !important;*/
/*    background-repeat: no-repeat !important;*/
/*}*/

/*.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {*/
/*    height: 18px;*/
/*    margin: 6px;*/
/*    width: 18px;*/
/*    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='yes'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%231F3044'%0Ad='M5.5,14.2c-0.9,0.8-1.9,0-1.5-1l4-9c0.2-0.4,0.6-0.8,1-0.8s0.8,0.4,1,0.8l4,9c0.4,1-0.6,1.8-1.5,1l-3.5-3L5.5,14.2z'/%3E%3C/svg%3E");*/
/*}*/

/*.mapboxgl-ctrl-group {*/
/*    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) !important;*/
/*}*/

/* only hide the logo if title=true is true */
/*.has-title .mapboxgl-ctrl-logo {*/
/*    display: none !important;*/
/*}*/

/* Mapbox GL geocoder */
/*.mapboxgl-ctrl-geocoder--collapsed {*/
/*    !*height: 30px !important;*!*/
/*    min-width: 30px !important;*/
/*    width: 30px !important;*/
/*}*/

/*.mapboxgl-ctrl-geocoder {*/
/*    transition: none !important;*/
/*}*/

/*.mapboxgl-ctrl-geocoder input[type='text'] {*/
/*    height: 30px;*/
/*    padding: 3px 30px;*/
/*}*/

/* ######################## */

.mapboxgl-ctrl-geocoder {
    display: grid;
    grid-template-columns: auto auto; /* Define two columns */
    grid-template-rows: auto auto; /* Define two rows */

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}

.mapboxgl-ctrl-geocoder--icon {
    grid-column: 1; /* Place the icon in the first column */
    grid-row: 1; /* Place the icon in the first row */
    margin-top: 0 !important;
}

.mapboxgl-ctrl-geocoder--input {
    grid-column: 2; /* Place the input in the second column */
    grid-row: 1; /* Place the input in the first row */
}

.mapboxgl-ctrl-geocoder .suggestions-wrapper {
    grid-column: 1 / span 2; /* Place the suggestions in the second row, spanning both columns */
    grid-row: 2;
}

/* ################ */

.mapboxgl-ctrl-geocoder--pin-right {
    display: none;
}

.mapboxgl-ctrl-geocoder--input {
    width: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input.show {
    width: auto;
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
}

.mapboxgl-ctrl-geocoder--icon {
    fill: #1f3044;
    margin-top: 2px !important;
}

/**/

.geocoder-icon-close {
    margin-top: 0;
    display: block;
}

.mapboxgl-ctrl-geocoder--icon-loading {
    background: white !important;
    border-radius: 100% !important;
    top: 5px !important;
    right: 6px !important;
    pointer-events: none !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
    left: 5px !important;
    top: 7px !important;
}

@media only screen and (max-width: 640px) {
    .mapbox-mark {
        width: 30px;
    }

    .infobox-action {
        display: none;
    }
}

/*In css, when a ul in the suggestions class in the suggestions-wrapper is present, set  display to none for mapboxgl-ctrl-geocoder--powered-by*/
.mapboxgl-ctrl-geocoder--powered-by {
    display: none !important;
}

/** End. Geocoder styling ******************************************/

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.mapboxgl-ctrl-geocoder.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

/* Custom styles for the Mapbox ScaleControl */
.mapboxgl-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: smaller;

    height: 20px;
    /*padding: 6px 10px; !* Adjust padding *!*/

    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.selected-contact {
    background-color: rgba(255, 255, 255, 0.84) !important;
}

.card {
    margin-bottom: 0px; /* Adjust this value to reduce/increase the space between each card */
    background: rgba(255, 255, 255, 0.3);
}

.card-body {
    padding: 0.1rem; /* Adjust this value to reduce/increase the space between the card-body and the card-title */
}

.card-title {
    font-size: 14px; /* Adjust this value to reduce/increase the font size of the card-title */
    margin-bottom: 1px; /* Adjust this value to reduce/increase the space between the card-title and the card-text */
}

.card-text {
    font-size: 12px; /* Adjust this value to reduce/increase the font size of the card-text */
    margin-bottom: 1px; /* Adjust this value to reduce/increase the space between the card-text and the card-footer */
}

.mapboxgl-user-location-dot::before,
.mapboxgl-user-location-dot::after {
    /*background-color: transparent !important;*/
    visibility: hidden !important;
    /*display: none !important;*/
}


.hidden {
    visibility: hidden;
}
