body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/* Start. Popup animation */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.popup-class {
    animation: fadeOut 3s forwards;
    animation-delay: 2s; /* Add a delay of 2 seconds before the animation starts */
}
/* End. Popup animation */

.mapboxgl-ctrl-top-left .control-1 {
    margin-bottom: 30px;
}

.mapboxgl-ctrl-top-left .control-2 {
    margin-bottom: 60px;
}

.mapboxgl-popup-content {
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(227 227 227);
}

.mapboxgl-ctrl-logo {
    display: none !important;
}


.mapboxgl-ctrl-center-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.compass-image {
    width: 50px; /* Set the width of the compass */
    height: 50px; /* Set the height of the compass */
    background-image: url('../img/north-arrow-2235-black.svg'); /* Path to your compass image */
    background-size: cover; /* Cover the div area with the image */
    background-position: center; /* Center the background image */
}

.home-marker {
    background-image: url('../img/bear-face1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.private-marker {
    background-image: url('../img/red_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.work-marker {
    background-image: url('../img/green_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

.longpress-marker, .longtouch-marker {
    background-image: url('../img/blue_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    opacity: 70%;
}

select option {
    font-size: 2vw;
}

.wakeup {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: wakeup 1s infinite;
}

@keyframes wakeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Always show scrollbar */
.ContactsTextbox::-webkit-scrollbar {
    width: 5px;
}

.ContactsTextbox::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 5px; /* Roundness of the scroll thumb */
}

.ContactsTextbox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

/** Start. Geocoder styling ******************************************/
.mapboxgl-ctrl-geocoder {
    position: absolute;
    width: 30vw;
    top: 35px;
    transform: translateX(-1%);
}

.mapboxgl-ctrl-geocoder svg {
    display: none;
}

.mapboxgl-ctrl-geocoder--pin-right {
    display: none;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
    background-color: rgba(255, 255, 255, 0.9);
}

.mapboxgl-ctrl-geocoder .suggestions {
    background-color: rgba(255, 255, 255, 0.6);
}

/** End. Geocoder styling ******************************************/

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.mapboxgl-ctrl-geocoder.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

/* Custom styles for the Mapbox ScaleControl */
.mapboxgl-ctrl-scale {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: smaller;

    height: 20px;
    /*padding: 6px 10px; !* Adjust padding *!*/

    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.hidden {
    visibility: hidden;
}
