body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.fade-out {
    transition: opacity 5s linear;
    opacity: 0 !important;
}

.fade-in {
    transition: opacity 5s linear;
    opacity: 1 !important;
}

.mapboxgl-ctrl-top-left .control-1 {
    margin-bottom: 30px;
}

.mapboxgl-ctrl-top-left .control-2 {
    margin-bottom: 60px;
}

.mapboxgl-popup-content {
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(227 227 227);
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.marker-pro {
    background-image: url('../img/blue_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}

.marker {
    background-image: url('../img/green_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}
