body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.xmapboxgl-popup-content.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.fade-out {
    opacity: 0;
    transition: opacity 5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.mapboxgl-ctrl-top-left .control-1 {
    margin-bottom: 30px;
}

.mapboxgl-ctrl-top-left .control-2 {
    margin-bottom: 60px;
}

.mapboxgl-popup-content {
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(227 227 227);
}

.mapboxgl-ctrl-logo {
    display: none !important;
}


.mapboxgl-ctrl-center-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.compass-image {
  width: 50px; /* Set the width of the compass */
  height: 50px; /* Set the height of the compass */
  background-image: url('../img/north-arrow-2235-black.svg'); /* Path to your compass image */
  background-size: cover; /* Cover the div area with the image */
  background-position: center; /* Center the background image */
}


.home-marker {
    background-image: url('../img/bear-face1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}

.private-marker {
    background-image: url('../img/red_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}

.work-marker {
    background-image: url('../img/green_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}

.longpress-marker .longtouch-marker {
    background-image: url('../img/blue_ball.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding:  0;
    opacity: 70%;
}

select option {
    font-size: 2vw;
}

.wakeup {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: wakeup 1s infinite;
}

@keyframes wakeup {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* CSS */
/* Always show scrollbar */
.ContactsTextbox::-webkit-scrollbar {
    /*display: block;*/
    width: 5px;
}

.ContactsTextbox::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 5px; /* Roundness of the scroll thumb */
}

.ContactsTextbox::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

/* Change the background color of the geocoder */
.mapboxgl-ctrl-geocoder {
    background-color: #333;
    border-radius: 8px;
    top: 30px;
}

.mapboxgl-ctrl-geocoder--suggestion {
    background-color: #333;
    color: #fff;
}
/* Change the background color of the dropdown menu */
.mapboxgl-ctrl-geocoder .suggestions {
    background-color: #333;
}



/* Change the color of the input text */
.mapboxgl-ctrl-geocoder input[type='text'] {
    color: #f00;
}


/* Change the color of the dropdown menu items */
.mapboxgl-ctrl-geocoder .suggestions > div {
    background-color: #0f0;

}

/* Change the color of the dropdown menu items when they're active */
.mapboxgl-ctrl-geocoder .suggestions > div.active {
    color: #000;
    background-color: #00ff;
}
