.toastContainer {
  position: fixed !important;
  top: 20px;
  right: 20px;
  z-index: 1090;
  pointer-events: none;
}

.toastContainer .toast {
  pointer-events: auto;
  min-width: 300px;
  margin-bottom: 10px;
}
