{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAT where are they</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet'
          ref='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css'
          type='text/css'/>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">


    <title>Title</title>

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% csrf_token %}

<input type="hidden" id="blue_ball" value="{% static 'img/blue_ball.png' %}">
<input type="hidden" id="green_ball" value="{% static 'img/green_ball.png' %}">

<div id="noSleep" style="position:fixed;opacity:0;">
    <div class="wakeup"></div>
</div>

<div class="flex-parent flex-parent--column fixed left right top bottom">
    <div class="w-full map-container flex-child flex-child--grow" id="map"></div>
</div>

<!-- Footer for log -->
<footer class="footer fixed-bottom bg-light p-0" id="footer">
    <div id="logContainer" class="overflow-auto">
    </div>
    <pre id="scriptContentDisplay">Your script content goes
        here,
        possibly
        loaded
        dynamically</pre>

    <div class="d-flex justify-content-between" id="buttons-container">
        <button id="clearLog" class="btn btn-sm btn-danger">Clear log</button>
        <button id="toggleLog" class="btn btn-sm btn-primary">Show log</button>
    </div>
</footer>


{#Start. Confirmation dialog#}

{#<div id="confirm" class="confirm">#}
{#    <div class="confirm-content">#}
{#        <div class="confirm-header">#}
{#            <h2>Confirm</h2>#}
{#        </div>#}
{#        <div class="confirm-body">#}
{#            <p>Are you sure you want to delete this location?</p>#}
{#        </div>#}
{#        <div class="confirm-footer">#}
{#            <button id="confirm-yes" class="confirm-yes">Yes</button>#}
{#            <button id="confirm-no" class="confirm-no">No</button>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<button type="button" class="hidden btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="hidden modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" id="closeButton" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to create or move this marker?
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelButton" class="btn btn-secondary" data-bs-dismiss="modal">No
                </button>
                <button type="button" id="confirmButton" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

{#End. Confirmation dialog#}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js'></script>
<script src="{% static 'js/functions.js' %}" type="module"></script>
<script src="{% static 'js/mymap.js' %}" type="module"></script>
</body>
</html>
