{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WAT where are they</title>

    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">


    <title>Title</title>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% csrf_token %}

<input type="hidden" id="blue_ball" value="{% static 'img/blue_ball.png' %}">
<input type="hidden" id="green_ball" value="{% static 'img/green_ball.png' %}">


<div id="map"></div>

<script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
<script src="{% static 'js/mymap.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
