{% load i18n %}

{% csrf_token %}

{% if not form.is_valid %}

    {% if form.errors.from_email %}
        <div class="text-danger">{{ form.errors.from_email }}</div>
    {% endif %}

{% else %}

    {% if status %}

        <div class="font-monospace resp_timestamp">{{ timestamp }}</div>

        {% if status == "ok" %}
            <div class="resp_name">

                {% trans "PTR_0010" %} {{ firstname }}
                {% if surname %}
                    {{ surname }}
                {% endif %}
                …&nbsp;{% trans "PTR_0130" %}

            </div>
        {% else %}
            {{ status }}
        {% endif %}

    {% endif %}
{% endif %}
