{% load i18n %}

<section id="hero" class="d-flex align-items-center justify-content-left" style="height: 150%">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>{% trans 'PTR_0120' %}<span>.</span></h1>
                <h6 class="nota">{% trans 'French English' %}</h6>
                <h2>{% trans 'PTR_0040' %}</h2>
                <h4>{% trans 'PTR_0220' %}</h4>
            </div>
            <div class="col-12" data-aos="fade-up" data-aos-delay="4000">
                <h6 class="nota">{% trans 'PTR_2055' %}</h6>
                <h6 class="nota">{% trans 'PTR_2057' %}</h6>
            </div>
        </div>



        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            {% with prod=prods.0 %}
                <div class="col-12">
                    <div class="icon-box" style="background-color:rgb(92, 92, 92)">
                        <i class="{{ prod.Prd_Icon }}"></i>
                        <h3>
                            <a href="#prod_0">{{ prod.Prd_Name|safe }}</a>
                        </h3>
                        <br>
                        <span style="color:white">
                            Quel que soit le problème de votre téléphone, écran cassé ou batterie défectueuse,
                            je dispose des compétences et des outils nécessaires pour le réparer.
                            iPhone, Samsung, Huawei…
                        </span>
                        <hr>
                        <span style="color:white">
                            Réparer un vieux smartphone coûte souvent moins cher que les nouveaux modèles.
                            Le tarif de la réparation est de 50 € par heure, avec un minimum d’une heure facturée.
                        </span>
                    </div>
                </div>
            {% endwith %}

            {% for prod in prods %}
                {% if forloop.counter > 1 %}
                    <div class="col-6">
                        <div class="icon-box">
                            <i class="{{ prod.Prd_Icon }}"></i>
                            <h3>
                                <a href="#prod_{{ forloop.counter0 }}">{{ prod.Prd_Name|safe }}</a>
                            </h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
