{% load i18n %}

    <div class="container">
        <div class="col">
            {% for prod in prods %}
                {{ prod.Prd_Name|safe }}
                <br />
            {% endfor %}
        </div>
    </div>

{#

- Smartphones… Remplacement écran ou batterie. Réglage. Configuration. Dépannage
- Réparation PC de bureau et mise à jour de matériel
- Réparations portables et entretien informatique
- Configuration et dépannage d’imprimante
- Conseil, formation personnalisé
- Identification et suppression des logiciels malveillants
- Connexions et Sécurité Internet
- Configuration de box internet
- Prise en main à distance de vos appareils

Réparation smartphones et tablettes
Maintenance et upgrade PC de bureau
Entretien ordinateurs portables
Support imprimantes
Formation personnalisée
Sécurisation et nettoyage malware
Conseil sécurité et connexions internet
Configuration box et réseau
Assistance à distance multi-appareils

#}
