{% load static %}

<section class="carousel">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <div class="carousel__wrapper" id="carousel__wrapper">
                    {% comment %} Start. Logo loop {% endcomment %}
                    {% for i in '01'|make_list %}
                        {% for cph in marques %}
                            <div class="carousel__slide">
                                <div class="carousel__image"
                                {% with 'images/logos/marques/'|add:cph.Marque_Icon as image_static %}
                                    {% static image_static %}
                                    style="background-image: url('{% static image_static %}');"
                                {% endwith %}
                                >
                            </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% comment %} End. Logo loop {% endcomment %}

            </div>
        </div>
    </div>
    </div>
</section>
