{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Add Them</title>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/code.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body class="text-center">

<table id="logTable" class="table">
    <tr>
        <th>Question</th>
        <th>Numbers</th>
        <th>Guess</th>
        <th>Elapsed Time(s)</th>
        <th>Date</th>
    </tr>
</table>

<span id="question"></span>
<input type="text" id="userInput" placeholder="xEnter your guess" autocomplete="off">
<span id="incorrect"></span>

<div id="buttons">
    <button onclick="submitGuess()">Submit</button>
    <button onclick="clearLog()">Clear Log</button>
    <button onclick="newSession()">New Session</button>
</div>

</body>
</html>
